*{
	padding: 0;
	margin : 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	outline: none;
}
body{
	font-family: 'Raleway', sans-serif;
	background: #fff;
}
ul{
	list-style: none;
}
.text-color-white{
	color: #fff;
}
.text-color-black{
	color: black;
}
.border-radius{
	border-radius: 20px;
}
.font-weight{
	font-weight: normal;
}
.margin-bottom3{
	margin-bottom: 30px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-top6{
	margin-top: 63px;
}
.font-size2{
	font-size: 1.8em;
}
.line-height{
	line-height: 55px;
}
.letter-spacing{
	letter-spacing: 2px;
}

.border-right-list__item{
	padding-right: 1.4rem ;
	border-right: 1px solid #fff;
}
/*
===========================================
HEADER
===========================================
*/
header{
	width: min(1500px, 100%);
	margin: 0 auto;
	background: url(imageimg1.jpg)  no-repeat center/cover;
}
.gradient{
	background: rgba(0, 0, 0, 0.20); 
}
.container{
	width: min(950px, 87%);
	margin: auto;
}
.nav-gradient{
	position: fixed;
	width: 100%;
	min-height: 70px;
	align-items: center;
	display: flex;
	background: rgba(0, 0, 0, 0.40); 
	justify-content: center;
}
#main-nav{
	width: min(950px, 87%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
#main-nav > :nth-child(1) img{
	width: 120px;
	display: block;
}


.navbar{
	display: flex;
	align-items: center;
	width: min(680px, 100%);
	justify-content: flex-end;
}

.nav__list{
	display: flex;
	align-items: center;
    text-align: center;
}

.nav__item + .nav__item{
    margin-left: 1.5rem;
}

.nav__link{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
	padding: .7em 0;
    font-size: .8rem;
    font-weight: bold;
    transition: color .8s linear;
}

.nav__link::before,
.nav__link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s linear;
}

.nav__link::after{
    bottom: 0;
    transform-origin: right;
}

.nav__link::before{
    top: 0;
    transform-origin: left;
}
.nav__link:focus::before,
.nav__link:focus::after,
.nav__link:hover::before,
.nav__link:hover::after{
    transform: scaleX(1);
}


.hamburger__menu{
	display: none;
}

/* Tablets */
@media (max-width:950px){

	.border-right-list__item{
		padding-right: 0;
		border-right: none;
	}

	.navbar{
		width: 60%;
    	height: 100%;
		background: rgba(0, 0, 0, 0.40); 
		position: fixed;
		top: 0;
		right: -60%;
		justify-content: center;
		border-radius: 20% 0 0 60%;
		transition: right .8s cubic-bezier(1, 0, 0, 1);
	}

	.change{
		right: 0;
	}
	
	.nav__list{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: right;
	}

	.nav__item{
		margin: 1.2rem;
	}

	.nav__link{
		margin: 1.3rem;
		font-weight: 300;
	}

	.hamburger__menu{
		width: 35px;
		height: 30px;
		position: fixed;
		top: 21px;
    	right: 42px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.hamburger__menu:focus{
		outline: 2px solid #fff;
		outline-offset: 3px;
	}

	.line{
		width: 100%;
		height: 3px;
		background-color: #fff;
		transition: all .8s linear;
	}

	.change .line_1{
		transform: rotateZ(-405deg) translate(-8px, 6px);

	}

	.change .line_2{
		opacity: 0;
	}

	.change .line_3{
		transform: rotateZ(405deg) translate(-8px, -6px) ;
	}
}




.contant{
	width: min(685, 80%);
	height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}
.contant > :nth-child(2) ul{
	width: 306px;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
}
.contant > :nth-child(2) ul li{
	line-height: 35px;
}
.contant > :nth-child(2) ul li a i{
	transition: 0.3s linear;
}
.contant > :nth-child(2) ul li a i:hover{
	transform: scale(1.2);
}
.contant > :nth-child(1){
	width: 430px;
	height: 36px;
	background: #fff;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}
.contant > :nth-child(1) > :nth-child(1) input{
	width: 374px;
	border: 0px;
	padding-left: 1em;
}
.contant > :nth-child(1) input:focus{
	outline: 0px;
}
.contant > :nth-child(1) > :nth-child(2) a{
	display: flex;
}
.contant > :nth-child(1) > :nth-child(2) a i{
	font-size: 18px;
	margin: 0px 12px 0px 7px;
}

#Dots{
	display: flex;
	align-items: center;
}
.dot{
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.dot + .dot{
	margin-left: 5px;
}
.dot.active{
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
}

/*
===========================================
CONTAcT SECTION
===========================================
*/
.gradient-contact-main{
	width: min(1500px, 100%);
	margin: 0 auto;
	background: #333;
}
#Contact{
	width: 100%;
	background: url(./mobiles.png)  no-repeat center /cover;
}
.gradient-contact{
	background: rgba(0, 0, 0, 0.90); 
}
#main-contact{
	height: 600px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#main-contact > :nth-child(1){
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
#main-contact > :nth-child(1) input{
	padding: 8px 0px;
	border-bottom: 2px solid #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: rgba(0, 0, 00, 0.1) ;
	color: #fff;
}
#main-contact > :nth-child(1) input:focus{
	outline: 0px;
}
#main-contact > :nth-child(1) a{
	padding: 8px;
	text-align: center;
	border: 1px solid #fff;
	transition: 0.3s linear;
}
#main-contact > :nth-child(1) a:hover{
	transform: scale(1.1);
}
#main-contact > :nth-child(1) a:hover{
	background: #fff;
	color: #000000;
}
#main-contact > :nth-child(2){
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
#main-contact > :nth-child(2) a{
	transition: 0.2s linear;
}
#main-contact > :nth-child(2) a:hover{
	transform: scale(1.2);
}
/*
===========================================
FOOTER
===========================================
*/
footer{
	height: 60px;
	width: min(1500px, 100%);
	margin: 0 auto;
	background: #000000;
}
#main-footer{
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	flex-wrap: wrap;
}
#main-footer > :nth-child(1) ul{
	display: flex;
}
#main-footer > :nth-child(1) ul li{
	list-style: none;
	margin-right: 20px;
}





